<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Med-Sched</title>

    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"> 
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    
    <style>
        [type="checkbox"]:not(:checked),
        [type="checkbox"]:checked {
           position: static !important;
           left: auto !important;
           opacity: 1 !important;
        }
    </style>
</head>
<body>
    {{> page/menu}}
    <div class="row">
        {{{body}}}
    </div>
    <style>
        .waves-light {
            width: 100%;
        }
        .approval {
            width: 30%;
            margin: 5px;
        }

    </style>
</body>
<script>
    $( document ).ready(function(){
        $(".button-collapse").sideNav();
        $('.tooltipped').tooltip({delay: 50});
    });
</script>
</html>