<form class="col s12" action='/api/login' method='POST'>
    <div class="row page-label">
        <div class="col s12 l8 offset-l2">
            <br>
            <br>

            <h4>Login</h4>

            <!---------------------------------------------->
            <div class="row">
                <div class="input-field col s8 offset-s2">
                    <i class="material-icons prefix">account_circle</i>
                    <input name="email" type="text" class="validate">
                    <label for="email">Email</label>
                </div>
                <div class="input-field col s8 offset-s2">
                    <i class="material-icons prefix">vpn_key</i>
                    <input name="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <!---------------------------------------------->
            <div class="input-field col s12 l8 offset-l2">
                <div class="row"><br>
                    <button class="waves-effect waves-light btn" type="Submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
