<form class="col s12" action="/api/new-matrix" method="POST">
    <div class='container'>
        <div class="row page-label">
            <div class="col s12 l8 offset-8">
                <h4>Populate Matrix</h4>
            </div>
        </div>
    
        <div class="row">
                <div class="col s1">
                    <input name="Pos" type="text" class="validate" placeholder="Pos" autofocus>
                </div>
                <div class="col s1">
                    <input name="Mon" type="text" class="validate" placeholder="Mon">
                </div>
                <div class="col s1">
                    <input name="Tues" type="text" class="validate" placeholder="Tues">
                </div>
                <div class="col s1">
                    <input name="Wed" type="text" class="validate" placeholder="Wed">
                </div>
                <div class="col s1">
                    <input name="Thur" type="text" class="validate" placeholder="Thur">
                </div>
                <div class="col s1">
                    <input name="Fri" type="text" class="validate" placeholder="Fri">
                </div>
                <div class="col s1">
                    <input name="SatSun" type="text" class="validate" placeholder="SatSun">
                </div>
        </div>
        
        <div class="col s12 l2 offset-8">
            <button id="submay" class="waves-effect waves-light btn" type="Submit">Submay</button>
        </div>
    </div>
    
    
</form>

<style>
     input {
        text-align: center;
        }
</style>