<h4>Projection</h4>

<div class="row">
    <div class="input-field col s12 l8 offset-l2">
        <div class="row">
            <h4 class="light" style="padding:20px;">Insert Projection</h4>
            {{#if admin}}
            <!--button-->
            {{/if}}
            <table>
                <thead>
                    <tr>
                        {{#each user}}
                        <th>
                            {{@val}}
                        </th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each week}}
                    <tr>
                        {{#each this}}
                        <td>
                            {{put a number up in here}}
                        </td>
                        {{/each}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>