<div class="row page-label">
    <div class="col s12 l8 offset-l2">
        <h4 class="light" style="padding:20px;">Schedule for June</h4>
            <div class="row">
                <div class="input-field col s12 l8 offset-l2">
                    <div class="row">
                        <p>Schedules</p>
                        {{#each status}}
            	        {{@key}} Schedule<br>
                        -------<br>
				        {{#each this}}
					        {{first_name}}<br>
            	        {{/each}}
            	        <hr>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

