<div class="row page-label">
    <div class="col s12 l8 offset-l2">
        <h4>Update Users</h4>
        {{#each User}}
            {{first_name}} {{last_name}}<br>
        {{/each}}
    </div>
</div>