<form id="vacayForm" class="col s12" action='/vacation' method='POST'>
    <div class="row page-label">
        <div class="col s12 l8 offset-l2">
            <br> <br>
      
            <h4 class="light" style="padding:20px;">Vacay Requay</h4>
            <div class="row">
                <div class="input-field col s12 l8 offset-l2">
                    <div class="row">
                        <div class="col s6 input-field">
                            <input class='datepicker' id="datepicker1" name="start_date" type="date" class="validate">
                            <label for="start_date">Start Date</label>
                        </div>
                        <div class="col s6 input-field">
                            <input class='datepickertwo' id="datepicker2" name="end_date" type="date" class="validate">
                            <label for="end_date">End Date</label>
                        </div>
                        <div class="col s12">
                            <textarea name="comment" class="materialize-textarea" placeholder="Please add additional details"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 l8 offset-l2">
                    <button id="submay" class="waves-effect waves-light btn" type="Submit">Submay</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--table start-->
<div class="col s12 l8 offset-l2">
    <table class="highlight responsive-table">
        <thead>
          <tr>
              <th>Status</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Comment</th>
          </tr>
        </thead>
        <tbody>
        {{#each vacation}}
            
          <tr>
            <td>{{this.status}}</td>
            <td>{{this.start_date}}</td>
            <td>{{this.end_date}}</td>
            <td>{{this.comment}}</td>
          </tr>
          
        {{/each}}
</div>

<script>
    $(document).ready(function () {

        $('input.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year
            onSet: function() {
                setTimeout(this.close, 0);
            }
        });

        $('input.datepickertwo').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year
            onSet: function() {
                setTimeout(this.close, 0);
            }
        });


    });



</script>
